html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: #fcf2f2;
  font-family: "Dosis", Helvetica, Arial, sans-serif;
}

.main {
  position: relative;
  width: 720px;
  margin: 16px;
  background-color: rgb(255, 250, 250);
}

/* SVG BLOBS */

.main__svg-left-top {
  width: 90%;
  position: absolute;
  top: -280px;
  left: -370px;
  opacity: 0.95;
  z-index: 1;
}

.main__svg-left-middle {
  width: 80%;
  position: absolute;
  top: 0;
  left: -400px;
  z-index: 2;
}

.main__svg-left-bottom {
  width: 25%;
  position: absolute;
  top: 265px;
  left: -20px;
  z-index: 3;
}

.main__svg-right-top {
  width: 15%;
  position: absolute;
  top: 245px;
  left: 680px;
  opacity: 0.85;
  z-index: 1;
}

.main__svg-right-middle {
  width: 95%;
  position: absolute;
  top: 60px;
  left: 430px;
  z-index: 2;
}

.main__svg-right-bottom {
  width: 30%;
  position: absolute;
  top: 390px;
  left: 435px;
  z-index: 3;
}

/* CARD */

.card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 32px;
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.card__image {
  flex-shrink: 0;
  width: 148px;
  height: 148px;
  margin-right: 56px;
  border-radius: 50%;
  opacity: 0.9;
  z-index: 2;
}

.card__header {
  margin-bottom: 16px;
}

.card__name {
  margin: 0;
  font-size: 42px;
  font-weight: 400;
  color: #213d5c;
}

.card__position {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #d7b9bb;
}

.card__description {
  margin: 0;
  padding-top: 10px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.special {
  font-weight: 500;
  color: #dba2b0;
}

/* SOCIAL MEDIA LINKS */

.card__media {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.card__media__link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 2rem;
  height: 2rem;
  margin: 30px 15px 10px 0;
  border-radius: 50%;
  background-color: #213d5c;
  text-decoration: none;
  z-index: 6;
}

.card__media__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #213d5c;
}

.card__media__link:hover::before {
  animation: pulse 1.2s ease;
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.card__media__link span {
  color: #fff;
  font-size: 16px;
  z-index: 7;
}
